@page "/employees_list"
@using ZooCoursework.DataBase
@inject ZooCourseworkContext ZooContext
@inject NavigationManager Navigation

<style>
    .mainLabel {
        text-align: center;
        margin-right: 90px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 500;
        color: #21A77F;
        text-decoration: underline;
        font-family: Andale Mono, monospace;
    }

    .labelText {
        font-size: 25px;
        font-weight: 500;
        color: #21A77F;
        margin-left: 7px;
        text-align: center;
    }

    .imgBlock {
        flex: 50%;
        text-align: center;
        margin-left: 100px;
        width: 400px;
        height: 400px;
    }
</style>

<div style="position: absolute; left: 190px; width: 1000px;display: flex; flex-direction: row; justify-content: flex-start;">
    <MudSelect T="string" Label="Должность" Variant="Variant.Outlined" ValueChanged="GetRole" Value="currentRole" Style="font-size: 16px; border: 3px solid #21A77F; color: #21A77F; border-radius: 10px; ">
        @foreach (var role in roles)
        {
            <MudSelectItem Value="@(role.Name)" />
        }
    </MudSelect>
    <MudButton Variant="Variant.Outlined" Style="border-radius: 10px; top: 6px; height: 63px; font-size: 16px; border: 3px solid #21A77F; color: #21A77F; left:7px;" OnClick="Add">Добавить сотрудника</MudButton>
</div>

<div style="position:absolute">
    <MudGrid Spacing="@spacing" Justify="Justify.FlexStart"
                Style="position: absolute;
        left: 190px;
        top: 100px;
        width: 1000px;
        box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;
        background-color: #EEFFF7;
    }">
        @foreach (var user in users)
        {
            <MudItem>
                <MudPaper Height="330px" Width="210px" Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: #A68EFE; box-shadow: none;">
                    <a href="/" @onclick="() => GetUser(user)">
                        <MudPaper Height="330px" Width="210px" Style="border: 3px solid #21A77F; box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;">
                            <img src="/images/Лого.png" style="height:200px; width:100%; background-color: #EEFFF7; " />
                            <MudText Class="labelText">@user.Surname </MudText>
                            <MudText Class="labelText">@user.Name </MudText>
                            <MudText Class="labelText">@user.Patronymic</MudText>
                        </MudPaper>
                    </a>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    private int spacing { get; set; } = 5;
    private List<User> users = new List<User>();

    private List<Role> roles = new List<Role>();
    private static readonly Role _allRoles = new Role() { Name = "Все" };
    private string currentRole = "Все";

    protected override async Task OnInitializedAsync()
    {
        roles = ZooContext.Roles.ToList();
        roles.Add(_allRoles);
        users = ZooContext.Users.Where(x => x.RoleId != 1).ToList();
    }

    private void GetRole(string selected)
    {
        currentRole = selected;

        if (currentRole == "Все")
        {
            users = ZooContext.Users.Where(x => x.RoleId != 1).ToList();
            return;
        }

        var roleId = ZooContext.Roles.FirstOrDefault(x => x.Name == currentRole).Id;
        users = ZooContext.Users.Where(x => x.RoleId == roleId).ToList();
    }

    private void GetUser(User user)
    {
        //Navigation.NavigateTo($"/animal_info/{animal.Id}");
    }

    private void Add()
    {
        
    }
}
